	<form action="/set/yanjipicirun/" method="post">
	<div class="content-box column-vs">	
		<fieldset style="margin:10px;">
			<!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
			<li>
				<label class="title-text">批次名称</label>
				<input class="text-input medium-input" type="text" id="user_form_username" name="pcname" value="" />
			</li>
			

			
			<li style="width:100%">
				<input class="button" type="submit" value="保存" />
			</li>
			
		</fieldset>
	</div>

	<div class="clear"></div><!-- End .clear -->
	</form>