<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{$pro_name}}-{{$title}}</title>
		{{include file='includes/css-js-header.html'}}
	</head>
  
	<body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			{{include file='includes/menu.html'	mod='set' act='pay'}}
			
		</div></div> <!-- End #sidebar -->
		
		<div id="main-content"> <!-- Main Content Section with everything -->
			
			<noscript> <!-- Show a notification if the user has disabled javascript -->
				<div class="notification error png_bg">
					<div>
						Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
					Download From <a href="http://www.exet.tk">exet.tk</a></div>
				</div>
			</noscript>
			
			<!-- Page Head -->
			<!--<h2>Welcome John</h2>
			<p id="page-intro">What would you like to do?</p>
			
			<ul class="shortcut-buttons-set">
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="/images/icons/pencil_48.png" alt="icon" /><br />
					Write an Article
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="/images/icons/paper_content_pencil_48.png" alt="icon" /><br />
					Create a New Page
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="/images/icons/image_add_48.png" alt="icon" /><br />
					Upload an Image
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="/images/icons/clock_48.png" alt="icon" /><br />
					Add an Event
				</span></a></li>
				
				<li><a class="shortcut-button" href="#messages" rel="modal"><span>
					<img src="/images/icons/comment_48.png" alt="icon" /><br />
					Open Modal
				</span></a></li>
				
			</ul><!-- End .shortcut-buttons-set -->
			
			<div class="clear"></div> <!-- End .clear -->
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>{{$title}}</h3>
					
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">费用列表</a></li>
						<!-- href must be unique and match the id of target div -->
					</ul>
					
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->				
						<table>
							
							<thead>
								<tr>
								   <th>费用类别</th>
								   <th>个人金额</th>
								   <th>集体金额</th>
								   <th>修改时间</th>
								   <th>操作</th>
								</tr>
								
							</thead>
							<tbody>
								{{foreach from=$resData key=key item=value}}
								<tr>
									<td><a href="/set/payedit/{{$value.pay_type}}/" title="修改金额">{{$pay_type[$value.pay_type][0]}}</a></td>
									<td>{{$value.amount}}</td>
									<td>{{$value.group_amount}}</td>
									<td>{{$value.createtime|date_format:"%Y-%m-%d %H:%M:%S"}}</td>
									<td>
										<!-- Icons -->
										<a href="/set/payedit/{{$value.pay_type}}/" title="修改金额"><img src="/images/icons/pencil.png" alt="Edit" /></a>
										<a href="/set/paylist/{{$value.pay_type}}/" title="查看历史记录"><img src="/images/icons/list.png" alt="Edit" /></a>
									</td>
								</tr>
								{{/foreach}}
							</tbody>
							
						</table>
						
					</div> <!-- End #tab1 -->

				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->

			<div class="clear"></div>

			{{include file='includes/foot.html'}}
			
		</div> <!-- End #main-content -->
		
	</div></body>
  

<!-- Download From www.exet.tk-->
</html>
